body{
    font-family: cambria;
    font-weight: 96px;
    background-color: #EEF5FF;
    font-size: 18px;
  }
  h1#site-title {
    color: #005eab;
    font-size: 72px;
    margin-top: 0;
    text-align: center;
  }
  h1#article-title {
    font-size: 48px;
    color: #005eab;
    text-align: center;
  }
  h2{
    color: #8D2A5F;
    font-size: 36px;
    text-align: center;
    padding-top: 30px;
  }
  h3{
    color:#005eab;
    font-size: 24px;
    text-align: center;
  }
  p{
    font-size: 20px;
  }
  p.contact{
    text-align: center;
  }
  p.social{
    text-align: center;
  }
  p#spanish{
    font-style: italic;
    text-align: center;
  }
  p.footer{
    font-size: 12px;
  }
  @media all and (min-width:768px){
  main{
    margin-left: 200px;
    margin-right: 200px;
   }
}
  figure{
    border: 3px solid #8D2A5F;
    padding: 15px;
    padding-bottom: 30x;
    background-color: #ECCFDF;
    color:#8D2A5F;
    text-align: center;
    font-size: 18px;
  }
  @media all and (min-width: 768px){
  figure img{
    width: 100%;
    Height: auto;
    margin-bottom: 15px;
  }
}
    a{
    font-weight: bold, 20px;
    color:#005eab;
    text-align: center;
  }
  @media all and (min-width:376px){
    nav ul {
    list-style: none;
    padding-left: 0;
    background-color: #ECCFDF;
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 22px;
   }
}
nav ul#tiktok{
    background-color: #EEF5FF;
    font-size: 20px;
  }
   nav ul li {
    padding: 5px;
    text-align: center;
  }
  nav ul li a{
    text-decoration: none;
  }
  nav ul li a:hover {
    padding-bottom: 9px;
    border-bottom: 3px solid #005eab;
  }
  header nav ul{
    border: 2px solid #8D2A5F;
  }
    footer#page-footer {
     padding: 32px 0;
     margin-top: 64px;
     text-align: center;
     background-color: #ECCFDF;
     color: #8D2A5F;
     font-size: 18px;
}